<h1>destinatary</h1>
<hr>
<p>{{destinatary.name}}</p>
<p>{{destinatary.lastName}}</p>
<p>Account Number: {{destinatary.accountNumber}}</p>
<form action="/transfer/:id/search/:destAccNum/amount" method="POST">
  <button method="submit">submit</button>
</form>

