<h1>Introduce Account Number</h1>
  <form action="/transfer/{{user.id}}" method="GET">
  <label for="input-accountNumber" class="form-label">Account num.</label>
  <input type="number" id="input-accountNumber" name="accountNumber" placeholder="account number">
  <button action="submit">search</button>
</form>